{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'kiosko/menu.css' %}">
<header>
    <a href="index" class="logo">Kiosko</a>
    <nav>
        <ul>
           <li>
                <a href="ventas">Ventas</a>
            </li>
            <li>
                <a href="pedidos">Pedidos</a>
            </li>
            <li>
                <a href="productos">Productos</a>
            </li>
            <li>
                <a href="pagos">Pagos</a>
            </li>
            <li>
                <a href="proveedores">Proveedores</a>
            </li>
            <li>
                <a href="reportes">Reportes</a>
            </li>
            <li><a href="logout" class="cta">Logout</a></li>
        </ul>
    </nav>
</header>